.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050;
}

.venda-detalhe-container {
  min-width: 500px;
}

.error-message {
  color: red;
}

.loading-indicator {
  padding: 20px;
  text-align: center;
}
