.caixa-detalhe-container {
  padding: 20px;
}

.loading-spinner {
  text-align: center;
  padding: 20px;
}

.error-message {
  color: red;
  text-align: center;
  padding: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #f4f4f4;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 4px;
}
