.caixa-detalhe-container {
  padding: 20px;
}

.loading-spinner {
  text-align: center;
  padding: 20px;
}

.error-message {
  color: red;
  text-align: center;
  padding: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #f4f4f4;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 4px;
}

.info-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.info-table td {
  padding: 8px;
  border: 1px solid #ddd;
}

.info-table td:first-child {
  font-weight: bold;
  width: 40%; /* Ajuste a largura conforme necessário */
}
